*{
    box-sizing: border-box;
}

body{
    margin: 35px;
}

h1{
    font-family: "LiberationSerif" ;
    font-size: 20pt;
    text-align: center;}

h2{
    font-family: "LiberationSerif" ;
    font-size: 20pt;}

h3{ color: blueviolet;
    font-family: "LiberationSerif" ;
    font-size: 20pt;}

p{
    font-family: 'Times New Roman', Times, serif ;
    font-size: 12pt;}

ul{
   list-style: none;
}

li{
    font-size: 12pt;
}


button{
    font-size: 1em;
    font-weight: bold;
    padding: 10px 40px ;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 2px 2px 10px;
    color: white;
    background-color: yellow;
}

button:hover{
    background-color: orange;
}

.container{
    max-width: 1400px;
    margin: auto;
}

header{
    background-color: rgb(245, 245, 245);

}

header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: black;
    font-size: 1.40em;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header a:hover{
    color: yellow;
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color: white;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0.5)
    )
    ,url("Imagenes/JS.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#hero h1{
    color: white;
}
    
    header .container{
        flex-direction: row;
        justify-content: space-between;
    }
    
    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
        margin-right: 40px;
    }

    #proyectoJS .img-container{
        background-image: linear-gradient(
            0deg
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        ),url("Imagenes/programacion.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
    
    #proyectoJS .container{
        text-align: center;
        padding: 200px 12px;
        justify-content: center;
    }
    
    @media (min-width: 720px){
        header{
            position: fixed;
            width: 100%;
        }
    }
    
    .color-acento{ color: gold; }

    .color-sub{ color: orange; }

#punto2 .programas{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

#punto2 p{
    display: block;
}

#punto2 .carta{
    padding: 50px;
}

#punto2 h3{
    margin-top: 0;
}

.carta:first-child{
    background-image: linear-gradient(
        0deg
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("Imagenes/programacion.jpg");
}

.carta:nth-child(2){
    background-image: linear-gradient(
        0deg
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("Imagenes/programacion.jpg");
}

.carta:nth-child(3){
    background-image: linear-gradient(
        0deg
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("Imagenes/javascript.png");
}

#proyectoJS{
    background-color: grey;
}

#variables{
    background-color: grey;
}

#contendedor-imagenes{
    float: left;
}

.carta{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-image: url("Imagenes/programacion.jpg");
    color: white;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0.5)
    )
    
}